RewriteEngine On

# Empêcher l'accès direct aux dossiers
Options -Indexes

# Rediriger toutes les requêtes vers index.php sauf les fichiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
