/***********************
****** MON COMPTE ******
************************/

H2 {
    font-size: 4.5em;
    letter-spacing: 15px;
    line-height: 100px;
    font-weight: 500;
    font-family: "Koulen", sans-serif;
}


#account-generalInfo {
    border-radius: 10px;
    width: 60%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    padding: 2vh;
    align-self: center;
    margin: auto;
    justify-content: space-around;
    align-items:stretch;
    background-color: rgb(23, 23, 23);
    margin-top: 80px;
    margin-bottom: 60px;
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.107);
}

#account-generalInfo div:first-of-type {
    display : flex;
    flex-direction: row;
}

#account-generalInfo div:first-of-type div {
    align-self: center;
}

#cadre-pp {
    width: 14vh;
    height: 14vh;
    overflow: hidden;
    border-radius: 100px;
    border: 4px solid rgb(119, 241, 190);
    cursor: pointer;
}

#cadre-pp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#account-generalInfo form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#account-generalInfo form button {
    all: unset;
    cursor: pointer;
}

#account-generalInfo form button img {
    width: 3vh;
    height: 3vh;
}


#account-generalInfo div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#account-generalInfo div:nth-of-type(2) p:nth-child(1){
    font-size: 75px;
    font-weight: 500;
}

#account-generalInfo div:nth-of-type(2) p:nth-child(2){
    font-size: 45px;
}

#account-generalInfo div:nth-of-type(3){
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

#account-generalInfo div:nth-of-type(3) p{
    font-size: 35px;
    font-weight: 500;
}

#cadre-grade {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-top: 2vh;
}

#cadre-grade img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#account-personalInfo-form {
    border-radius: 10px;
    width: 60%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    padding: 2vh;
    align-self: center;
    margin: auto;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(23, 23, 23);
    margin-bottom: 60px;
    padding-left: 5vh;
    padding-right: 5vh;
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.107);
}

#account-personalInfo-form button{
    display: flex;
    flex-direction: row;
    all: unset;
    cursor: pointer;
    align-items: flex-end;
    align-self: flex-end;
    padding: 0vh;
}

#account-personalInfo-form button img{
    width: 3vh;
    height: 3vh;
}

#account-personalInfo-form div {
    display: flex;
    flex-direction: row;
    width: 80vh;
    align-items: space-around;
    padding: 0vh;
}

#account-personalInfo-form div div:first-of-type, 
#account-personalInfo-form div div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

#account-personalInfo-form input{
    border-radius: 5px;
    border: 2px solid rgb(169, 169, 169);
    width: 15vh;
    height: 4vh;
    background-color: #1E1E1E;
    font-size: 16px;               
    color: white;  
    padding-left: 2vh;
}

#account-personalInfo-form div div:nth-of-type(1) input:nth-of-type(2){
    width: 20vh;
}

#account-personalInfo-form div:nth-of-type(2) input{
    width: 31vh;
}

#account-personalInfo-form select{
    all: unset;
    width: 7vh;
    border: 2px solid rgb(169, 169, 169);
    background-color: #1E1E1E;
    border-radius: 5px;
    padding: 0.80vh 1.5vh 0.80vh 1vh;
    background: #1E1E1E url('/assets/chevron_logo.png') no-repeat right 4px center;
    background-size: 12px 12px;
}


#account-editPass-form {
    border-radius: 10px;
    width: 60%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    padding: 2vh;
    align-self: center;
    margin: auto;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(23, 23, 23);
    margin-bottom: 60px;
    padding-left: 5vh;
    padding-right: 5vh;
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.107);

}

#account-editPass-form div {
    display: flex;
    flex-direction: row;
    width: 80vh;
    align-items: space-around;
    padding: 0vh;
}

#account-editPass-form  div div:first-of-type, 
#account-editPass-form div div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    justify-content: space-between;
}

#account-editPass-form  div div:first-of-type p{
    font-size: 1.5em;
    color: rgb(169, 169, 169);
}

#account-editPass-form div input{
    border-radius: 5px;
    border: 2px solid rgb(169, 169, 169);
    width: 35vh;
    height: 4vh;
    background-color: #1E1E1E;
    font-size: 16px;               
    color: white;  
    padding-left: 2vh;

}


#account-editPass-form button{
    display: flex;
    flex-direction: row;
    all: unset;
    cursor: pointer;
    align-items: flex-end;
    align-self: flex-end;
}

#account-editPass-form button img{
    width: 3vh;
    height: 3vh;
}


/***Ensemble des différents boutons du compte***/

#buttons-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    height: 6vh;
    align-self: center;
    margin: auto;
    margin-bottom: 11.69vh;
}

#buttons-section button{
    display: flex;
    flex-direction: row;
    padding: 1vh;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}



/*** ---> Discord***/
#buttons-section > button:first-of-type {
    width: 23vh;
    height: 6vh;
    background-color:  rgb(91, 101, 234);
    color: white;
}

#buttons-section > button:first-of-type a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none; /* Supprime le soulignement */
    color: inherit;
    width: 100%;
    height: 100%;
}

#buttons-section > button:first-of-type img {
    width: 40px;
    height: 40px;
    margin: 1vh;
}


/*** ---> Déconnexion***/

#buttons-section form:first-of-type button {
    width: 18vh;
    height: 6vh;
    background-color:  rgb(119, 241, 190);
    color: #1E1E1E;
}

#buttons-section form:first-of-type button img {
    width: 30px;
    height: 30px;
}

/*** ---> Supprimer mon compte***/

#buttons-section form:nth-of-type(2) button {
    width: 23vh;
    height: 6vh;
    background-color:  rgb(234, 91, 91);
    color: white;
}

#buttons-section form:nth-of-type(2) button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: inherit;
    width: 100%;
    height: 100%;
}

#buttons-section form:nth-of-type(2) button img {
    width: 30px;
    height: 30px;
    margin: 0.5vh;
}



/***********************
****** MES ACHATS ******
************************/

#historique-achats {
    width: 70%;
    margin: auto;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.107);
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}


#historique-achats table {
    width: 100%;
    border-radius: 15px;
    background-color: #1E1E1E;
    border-collapse: collapse;
    margin-top: 10px;
    overflow: hidden;
}

#historique-achats table thead {
    border-bottom: 20px solid #1a1a1a;
    border-radius: 15px;
    overflow: hidden;
}

#historique-achats table th {
    background-color: #1E1E1E;
    color:white;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
}

#historique-achats table td {
    padding: 10px;
    color: white;
}

#historique-achats table tbody tr {
    text-align: center;
}

#historique-achats table tbody tr:not(:last-of-type) {
    border-bottom: 1px solid white;
}

/* Style du bouton */

#viewAll-form{
    align-self: flex-end;
    background-color: none;
}

#viewAll-form button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    opacity: 80%;
}


#viewAll-form button:hover {
    opacity: 100%;
}