/*********************
******  INDEX   ******
**********************/
  
#index section{
    display: flex;
    height: fit-content;
    align-items: stretch
}

.titre_vertical{
    font-family: "Koulen","Inter", sans-serif;
    width: fit-content;

    writing-mode: vertical-lr;
    text-orientation: upright;

    letter-spacing: -40px;

    font-weight: 500;

    font-size: 90px;
    text-align: center;

}

#index_carrousel{
    align-self: center;
    margin: auto;
}

#index_carrousel img{
    border-radius: 30px;
    width : 65vw;
}

.paragraphes p{
    margin-bottom: 50px;
    width: 60vw;
    text-align: justify;
}
.paragraphes {
    align-self: center;
    margin: auto;
}
.paragraphes b{
    color: rgb(119, 241, 190);
}

#podium{
    margin: auto auto 8% auto;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 10vw;
}


.podium_unit  {
    display: flex;
    flex-direction: column;

    width: 200px;

    text-wrap: nowrap;
    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

}

.podium_unit  h3{
    font-size: 70px;
    color : rgb(119, 241, 190);

    width: inherit;
}
.podium_unit  h4{
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 4%;

    width: inherit;
}

.podium_unit  > div{
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #000000;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
    font-size: 35px;
    width: inherit;
}

.podium_unit:nth-child(1) > div{
    height: 380px;
}

.podium_unit:nth-child(2) > div{
    height: 550px;
}

.podium_unit:nth-child(3) > div{
    height: 305px;
}

.profile_picture{
    /*border: 2px dotted white; /* --> a revoir */
    width: 150px;
    height: 150px;

    object-fit: cover;
    border-radius: 100%;

    font-size: 10px;
    text-align: center;
    white-space: wrap;
}

/*********************
******  EVENTS  ******
**********************/

.event-subscribed{
    background-color: rgb(38, 100, 49);
}
.event-not-subscribed{
    background-color: #c3161675;
}
.event-full{
    background-color: #5D5757;
}

.events-display{
    width: 100%;
    transform: translateX(calc(163px/2));

    display: flex;

    align-items: center;
    flex-direction: column;

    justify-content: space-evenly;
}

.event{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 40vw;
    min-width: 500px;
    max-width: 780px;
    
    min-height: 130px;
    max-height: 170px;

    border-radius: 40px;

    padding: 2vw 1vw 2vw 1vw;

    background-color: #000000;   

    font-size: 1.2em;
    overflow: hidden;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}

.event:hover{
    background-color: #333333; 
    transform: scale(1.02); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
    transition: all 0.3s ease-in-out;
}

.event > div{
    width: 100%;
    overflow: hidden;
}
.event > *{
    margin-left: 1vw;
    margin-right: 1vw;
}

.event > div h2{
    margin-bottom: 10px;
}


.event h4{
    width: 125px;
    border-radius: 20px;

    align-self: center;
    text-align: center;

    padding: 15px; /* 15? */

}




/* index specific */
.events-display > h3{
    margin-bottom: 5vh;
}


