/***********************
******  Boutique  ******
************************/

H1 {
    font-size: 4.5em;
    letter-spacing: 15px;
    line-height: 100px;
    font-weight: 500;
    font-family: "Koulen", sans-serif;
    margin-bottom: 75px;
}


/***Ensemble des différents éléments pour filter, trier et rechercher les produits ainsi que le bouton poour accéder au panier***/

#principal-section{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}


#filter-form {
    background-color: rgba(0, 0, 0, 0.107);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.107);
    font-size: 1.2em;
    color: rgb(169, 169, 169);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    gap: 20px;
    width: 65vw;
}


#filter-form fieldset{
    all: unset;
}

#search-input {
    border-radius: 5px;
    border: 2px solid rgb(169, 169, 169);
    height: 4vh;
    background-color: #1E1E1E;
    font-size: 16px;               
    color: white;  
    padding-left: 40px;
    background-image: url("/assets/logo_recherche.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

#search-input:not(:placeholder-shown) { /* Lorsque le champ est rempli, on cache l'icône */
    background-image: none;
    padding-left: 2vh;
}


#filter-form div:first-of-type{
    display: flex;
    flex-direction: row;
    height: 4vh;
}

#filter-form div:first-of-type label{
    width: 100px;
}

#filter-form div:first-of-type select{
    all: unset;
    font-size: 16px;
    border: 2px solid rgb(169, 169, 169);
    background-color: #1E1E1E;
    border-radius: 5px;
    padding: 0.80vh 1.5vh 0.80vh 1vh;
    background: #1E1E1E url('/assets/chevron_logo.png') no-repeat right 4px center;
    background-size: 12px 12px;
}

#filter-form button{
    border: none;
    cursor: pointer;
    background-color: rgb(27, 27, 27);
    color: rgb(169, 169, 169);
    font-size: 1em;
    width: auto;
    font-style: italic;
    text-decoration: underline;
}

#cart-info {
    margin-right: 4vw;
}

#cart-info button {
    border: none;
    cursor: pointer;
    color: rgb(119, 241, 190);
    background-color: #1E1E1E;
    width: auto;
}

#cart-info button a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none; /* Supprime le soulignement */
    color: inherit;
    width: 100%;
    height: 100%;
    gap : 10px;
}

#cart-info button img {
    width: 40px;
    height: 40px;
}

#cart-info button p {
    font-size: 2.5em;
}

#message-reduc{
    color: rgb(169, 169, 169);
    font-size: 1em;
    margin-bottom: 13px;

}


/***Affichage des produits***/

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 60px;
    margin-top: 0px;
}

#one-product {
    background-color: rgb(23, 23, 23);
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.107);
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 230px;
    align-content: center;
    justify-content: space-between;
}

#one-product div:first-of-type {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 0px;
}

#one-product div:first-of-type img {
    width: 15vh;
    height: 15vh;
    overflow: hidden;
    border-radius: 20px;
    align-self: center;
}

#one-product h3 {
    font-size: 1.6em;
    text-align: center;
    white-space: wrap; /*white-space: nowrap;*/
    overflow: hidden;
    /*text-overflow: ellipsis; /* Ajoute les "..." */
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 30px;
}

#one-product div:first-of-type p:first-of-type{
    word-wrap: break-word;
    margin-top: auto;
    margin-bottom: 20px;
    font-size: 1.4em;
    color: white;
    align-self: center;
    
}

#one-product div:first-of-type p:nth-of-type(2) {
    word-wrap: break-word;
    margin-top: auto;
    font-size: 1.2em;
    color: rgb(169, 169, 169);
    align-self: center;
    
}

#one-product div:first-of-type p:nth-of-type(2) span{
    color: rgb(169, 169, 169);
}



#stock-status{
    font-size: 1.2em;
    margin-top: 10px;
}


#add-to-cart-button {
    display: inline-block;
    background-color: rgb(119, 241, 190);
    color: #1E1E1E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 10px;
}

#add-to-cart-button:hover {
    background-color: #1E1E1E;
    color: rgb(119, 241, 190);
}

#out-of-stock {
    padding: 10px;
    background-color: rgb(169, 169, 169);
    color: #1E1E1E;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border: none;
    cursor:initial;
    font-size: 1em;
}